{% extends "base.html" %}
{% load static %}
{% block page_title %}About Us{% endblock page_title %}

{% block css_links %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock css_links %}

{% block content %}
<div class="about-container container">
    <h2 class="about-title py-3">Society for the Popularization of Science, Bangladesh (SPSB)</h2>
    <p class="about-description">
        Welcome to the official website of the Student Psychological Support Board (SPSB) at NIT Trichy. We are a dedicated team of volunteers committed to providing psychological support and resources to our fellow students. Our mission is to create a supportive and inclusive environment where students can seek help, share their experiences, and find the resources they need to maintain their mental well-being.
    </p>
    <p class="about-description">
        At SPSB, we understand the challenges that students face in their academic and personal lives. We are here to offer a listening ear, guidance, and access to professional resources. Our team is trained to provide confidential support and connect students with the appropriate services on campus. We believe that mental health is just as important as physical health, and we are dedicated to promoting awareness and reducing stigma around mental health issues.
    </p>
    <p class="about-description">
        Whether you're dealing with stress, anxiety, depression, or simply need someone to talk to, SPSB is here for you. We encourage all students to reach out to us and take advantage of the resources we offer. Together, we can create a stronger, healthier, and more supportive community at NIT Trichy.
    </p>
    <p class="about-description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias quasi, est velit ut mollitia, placeat repudiandae accusantium ipsum qui hic sunt? Accusantium amet doloremque tempora non quidem quod beatae in.
        Eos, dicta. Quaerat optio obcaecati beatae laudantium, assumenda exercitationem corrupti praesentium. Dolorum quis, exercitationem temporibus assumenda vitae eius accusamus voluptatum nostrum velit alias, quo, qui non nisi. Quasi, velit ea?
        Beatae fuga ullam temporibus, et, quis atque, iure unde expedita pariatur dolore autem sunt sint velit vel consequatur nam corporis doloribus quaerat necessitatibus reiciendis. Harum accusamus beatae consequatur maxime ratione.
    </p>
    <p class="about-description">
        If you have any questions or would like to learn more about our services, please don't hesitate to contact us. We're here to help! You can also follow us on our social media channels to stay updated on our events and initiatives. Thank you for visiting our website, and we look forward to supporting you on your journey to mental well-being. 
    </p>
</div>
{% endblock content %}