body{
    background: #0b1220;
    color: white;
}

/* TOP BAR */
.top-bar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#111827;
    padding:20px;
    border-radius:16px;
}

.top-bar h2{
    font-family: var(--title-font);
    font-size: 37px;
    margin:0;
}

.year-select{
    padding:10px 15px;
    border-radius:10px;
    border:none;
    background:#1f2937;
    color:white;
}

/* KPI CARDS */
.stat-card{
    border-radius:20px;
    padding:30px;
    height:180px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    transition:.3s;
    color:white;
}

.stat-card:hover{
    transform:translateY(-6px);
}

.stat-card h2{
    font-family: var(--title-font);
    font-size:68px;
    font-weight:800;
}

.stat-card span{
    font-family: var(--semibold-font);
    font-size: 20px;
    font-weight: 400;
    
}

/* MODERN GRADIENTS */
.blue{background:linear-gradient(135deg,#6961ff,#123e9d);}
.purple{background:linear-gradient(135deg,#8e4cff,#510ebd);}
.orange{background:linear-gradient(135deg,#ffa640,#e04e00);}
.green{background:linear-gradient(135deg,#13e59f,#008259);}
.red{background:linear-gradient(135deg,#ff4284,#c60045);}
.dark{background:linear-gradient(135deg,#334155,#0F172A);}

/* CHARTS */
.chart-card{
    background:#111827;
    padding:25px;
    border-radius:20px;
}

.chart-card h4{
    font-family: var(--semibold-font);
    font-size: 20px;
    font-weight: 400;
    margin-bottom:15px;
}

/* CANVAS */
canvas{
    max-height:380px;
}

